In [ ]:
pip install python-pptx

Requirement already satisfied: python-pptx in /usr/local/lib/python3.6/dist-packages (0.6.18)
Requirement already satisfied: XlsxWriter>=0.5.7 in /usr/local/lib/python3.6/dist-packages (from python-pptx) (1.1.8)
Requirement already satisfied: lxml>=3.1.0 in /usr/local/lib/python3.6/dist-packages (from python-pptx) (4.2.6)
Requirement already satisfied: Pillow>=3.3.2 in /usr/local/lib/python3.6/dist-packages (from python-pptx) (4.3.0)
Requirement already satisfied: olefile in /usr/local/lib/python3.6/dist-packages (from Pillow>=3.3.2->python-pptx) (0.46)

In [ ]:
from pptx import Presentation
prs=Presentation('./Lorem17.pptx')
data= ''

for slides in prs.slides:
  for shapes in slides.shapes:
    if hasattr(shapes,"text"):
      print(shapes.text)
      data+=shapes.text
      
print(data)
file=open('extracted.txt','w')
file.write(data)

Writing a great resume is a crucial step in your job search. If you’re looking for a well-written example resume for inspiration, we have a selection of resume samples to get you started.We’ve put together a collection of resume examples for a variety of industries and job titles with recommended skills and common certifications. Each sample resume is based on the most contacted Indeed Resumes for that specific job title. We’ve also gathered the skills and certifications for each job title that appeared most often on resumes uploaded to Indeed.
My name is Ankita
Writing a great resume is a crucial step in your job search. If you’re looking for a well-written example resume for inspiration, we have a selection of resume samples to get you started.We’ve put together a collection of resume examples for a variety of industries and job titles with recommended skills and common certifications. Each sample resume is based on the most contacted Indeed Resumes for that specific job title. We’ve also gathered the skills and certifications for each job title that appeared most often on resumes uploaded to Indeed.My name is Ankita

570

In [ ]:
import os 
import nltk 
import nltk.corpus
nltk.download('punkt')
nltk.download('averaged_perceptron_tagger')
from nltk.tokenize import word_tokenize
from nltk.tokenize import sent_tokenize
from nltk import ne_chunk
nltk.download('maxent_ne_chunker')
nltk.download('words')
import pandas as pd 
import numpy as np

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
[nltk_data] Downloading package maxent_ne_chunker to
[nltk_data]     /root/nltk_data...
[nltk_data]   Package maxent_ne_chunker is already up-to-date!
[nltk_data] Downloading package words to /root/nltk_data...
[nltk_data]   Package words is already up-to-date!

In [ ]:
h=[]
sentences = nltk.sent_tokenize(data)
t_tokens=word_tokenize(data)
t_tag=nltk.pos_tag(t_tokens)
t_ner=ne_chunk(t_tag)
L=t_ner
#print(L)
for h in sentences:
  print(h)

Writing a great resume is a crucial step in your job search.
If you’re looking for a well-written example resume for inspiration, we have a selection of resume samples to get you started.
We’ve put together a collection of resume examples for a variety of industries and job titles with recommended skills and common certifications.
Each sample resume is based on the most contacted Indeed Resumes for that specific job title.
We’ve also gathered the skills and certifications for each job title that appeared most often on resumes uploaded to Indeed.
My name is Ankita

In [ ]:
a=[]
for s in sentences:
  for word,pos in nltk.pos_tag(nltk.word_tokenize(str(s))):
    if (pos == 'NN' or pos == 'NNP' or pos == 'NNS' or pos == 'NNPS'):
      a.append(word)
print(a)

['resume', 'step', 'job', 'search', 'example', 'resume', 'inspiration', 'selection', 'resume', 'samples', 'collection', 'resume', 'examples', 'variety', 'industries', 'job', 'titles', 'skills', 'certifications', 'sample', 'resume', 'Resumes', 'job', 'title', 've', 'skills', 'certifications', 'job', 'title', 'resumes', 'name', 'Ankita']

In [ ]:
b=[]
for s in sentences:
  for ww,pos in nltk.pos_tag(nltk.word_tokenize(str(s))):
    if (pos == 'VB' or pos == 'VBD' or pos == 'VBG' or pos == 'VBN' or pos =='VBP' or pos =='VBZ'):
      b.append(ww)
      
print(b)

['Writing', 'is', '’', 'looking', 'have', 'get', 'started', '’', 'put', 'is', 'based', '’', 'gathered', 'appeared', 'uploaded', 'is']

In [ ]:
import pandas as pd

In [ ]:
j=pd.DataFrame(a,columns=['Nouns'])
m=pd.DataFrame(blah,columns=['Sentence'])

AssertionError: ignored

In [ ]:
dict = {'Verbs': b}
df = pd.DataFrame(dict) 
df.to_csv('filek.csv') 
df.head(5)

     Verbs
0  Writing
1       is
2        ’
3  looking
4     have

In [ ]:
df=pd.concat([df,j],axis=1)
df=pd.concat([df,m],axis=1)
df.head(26)
df.to_csv('fileo.csv') 
df.head(5)

     Verbs    Nouns Sentence
0  Writing   resume   resume
1       is     step     step
2        ’      job      job
3  looking   search   search
4     have  example  example